.menu {
	background-color: #2f4858;
}

.cta-btn {
    background-color: #f6ae2d;
}

#book1-desc, 
section#dream-box,
#book2-desc,
#testimonial {
    background-color: #86bbd8;
}

#author {
    background-color: #33658a;
}


section {
  padding: 60px 0 60px;
}

section .title {
  padding-bottom: 60px;
}
section .title h2 {
  margin-top: 0;
}

#testimonial .opinion {
    margin-top: 10px;
    padding: 8px;
}

#testimonial h4 {
    margin-top: 5px;
}

nav {
  background-color: red;
}

nav .navbar-brand {
  color: white !important;
  font-size: 24px;
}

.menu ul.navbar-nav > li > a {
  color: white;
}

.cta-btn {
  background-color: #c3a416;
  color:white;
  text-shadow: 0 0 0;
  border: 0;
  box-shadow: 0px 0px 8px #33658a;

}

.social-bar {
    margin-top: 10px;
}

.cover .img-responsive {
    margin: 0 auto;
}

p {
    font-size: 1.2em;
}

h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

#book1-desc p,
#book1-desc h2,
#book2-desc p,
#book2-desc h2 {
  text-shadow: 0px 0px 10px #33658a;
  color: white;
}

